.App {
  display: flex;
  height: 100vh;
}

.btn {
  background-color: pink;
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  clear: both;
}

#quote {
  margin: auto;
  width: 500px;
  color: red;
  font-size: 2rem;
  line-height: 40px;
}

#quote-author {
  padding-top: 30px;
  float: right;
  font-size: 1.2rem;
  opacity: .8;
}

#quote-box {
  width: 750px;
  height: 400px;
  padding: 20px;
  background-color: #fff;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.twitter {
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  text-align: center;
  padding: 20px;
  background-color: pink;
  width: 40px;
}
